<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню запросов</title>
</head>
<body>
    <center>
        <h2>Меню запросов</h2> <br>
        <a href="{{url_for('bp_query.query_page1')}}">Запрос 1</a> <br>
        <a href="{{url_for('bp_query.query_page2')}}">Запрос 2</a> <br>
        <a href="{{url_for('bp_query.query_page3')}}">Запрос 3</a> <br>
        <a href="{{url_for('bp_query.query_page4')}}">Запрос 4</a> <br>
        <a href="{{url_for('bp_query.query_page5')}}">Запрос 5</a> <br>
        <a href="{{url_for('bp_query.query_page6')}}">Запрос 6</a> <br>
        <a href="{{url_for('menu_choice')}}">Выход в главное меню</a> <br>
    </center>
</body>
</html>