<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auth</title>
</head>
<style>

</style>
<body class="wrapper">
    <div class="container">
        <h1 class="main_title">Страница авторизации</h1>
        <form class="auth_wrapper" method="post">
            <input type="text" class="auth_login" placeholder="Логин" name="login">
            <input type="password" class="auth_password" placeholder="Пароль" name="password">
            <input type="submit" class="auth_submit">
        </form>
        <p class="auth_message">{{ message }}</p>
    </div>
</body>
</html>