{% macro render_item(item, show_form=False, show_amount=False) %}
<div style="border-style: solid; border-color: black; margin: 5px">
    <p>
        <span style="color: black">Название: </span>
        <span style="color: green">{{ item['med_name']}} </span>
        <span style="color: black">Цена: </span>
        <span style="color: green">{{ item['med_price']}} </span>
        <span style="color: black">В наличии: </span>
        <span style="color: green">{{ item['med_amount']}} </span>
        {%if show_amount %}
        <span style="color: black">Количество: </span>
        <span style="color: green">{{ item['amount']}} </span>
        {% endif %}

    </p>

    {%if show_form %}
    <div>
        <form action="" method="post">
            <input type="hidden" name="id_med" value="{{ item['id_med'] }}">
            <input type="submit" name="action" value="Добавить">
        </form>
    </div>
    {% endif %}
</div>
{% endmacro %}