* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*::before,
*::after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100;
   width: 100;
   font-size: 100;
   line-height: 1;
   font-size: 14;
   -ms-text-size-adjust: 100;
   -moz-text-size-adjust: 100;
   -webkit-text-size-adjust: 100;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a,
:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,

body {
   font-family: Arial;
   margin: 110px 0 0 550px;
   background: #e8e8e8 url('../css/img/bg.png') 50% -40px no-repeat;
}

.main-content {
   text-align: center;
   border: solid #fff;
   border-radius: 90px;
   width: 500px;
   height: 550px;
   box-shadow: 0px 6px 40px 0px rgba(98, 167, 162, 0.54);
   background-color: #fff;
}


.h1 {
   margin: 200px 0 45px 0;
   color: rgba(106, 158, 155, 0.54);
   font-size: 21px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 0.5px;
}